<link href="~/css/formatting.css" type="text/css" rel="stylesheet" />

<h2>Witaj w aplikacji przeznaczonej do przechowywania informacji o swoim księgozbiorze!</h2>

<style type="text/css">

    img {
        margin-top: 75px;
    }

</style>

<center>
    <img src="/Images/ksiazki.png" />
</center>


