

<div class="text-lg-start">
    <h1 class="display-1">Witaj w aplikacji przeznaczonej do przechowywania informacji o swoim księgozbiorze!</h1>
</div>

<center>
    <img src="/Images/ksiazki.png" />
</center>


