@model BookCollection.Models.Book

<link href="~/css/formatting.css" type="text/css" rel="stylesheet" />

<h1>Dodawanie książki</h1>


<style type="text/css">

    .btn {
        background-color: #0096FF;
        color: #FFFFFF;
        padding: 10px 30px;
        font-size: 16px;
        margin-top: 30px;
    }

    .form-control {
        margin-bottom: 30px;
    }

</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameAuthor" class="control-label">Imię autora</label>
                <input asp-for="NameAuthor" class="form-control" />
                <span asp-validation-for="NameAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurnameAuthor" class="control-label">Nazwisko autora</label>
                <input asp-for="SurnameAuthor" class="form-control" />
                <span asp-validation-for="SurnameAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label">Gatunek literacki</label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublication" class="control-label">Data wydania</label> @* tworzy labelkę *@
                <input asp-for="YearOfPublication" class="form-control" /> @* tworzy pole tekstowe typu liczbowego *@
                <span asp-validation-for="YearOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

