table {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
    font-size: 16px;
    width: 1000px;
    border-collapse: collapse;
}

th, td {
    padding: 7px 10px 10px 10px;
    text-align: center;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111; /*określa grubość linii dolnej wiersza*/
    border-top: 2px solid #111111; /*określa grubość linii górnej wiersza*/
    text-align: center;
}

tr {
    border: solid;
    border-width: 1px 0;
    background-color: #ffffff;
}

tr:hover { /*powoduje że po najechaniu myszką podświetla się wskazany wiersz*/
    background-color: #ac5bf3;
}

